<?xml version="1.0" encoding="UTF-8"?>
  <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>demo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>gdDangnhap.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>LoginServlet</servlet-name>
	  <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>TimnhacungcapServlet</servlet-name>
	  <servlet-class>controller.TimnhacungcapServlet</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>HoadonnhapServlet</servlet-name>
	  <servlet-class>controller.HoadonnhapServlet</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>TimdautruyenServlet</servlet-name>
	  <servlet-class>controller.TimdautruyenServlet</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>DongiaSoluongServlet</servlet-name>
	  <servlet-class>controller.DongiaSoluongServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>TimnhacungcapServlet</servlet-name>
  	<url-pattern>/timnhacungcap</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>HoadonnhapServlet</servlet-name>
  	<url-pattern>/hoadonnhap</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>TimdautruyenServlet</servlet-name>
  	<url-pattern>/timdautruyen</url-pattern>
  </servlet-mapping>

<servlet-mapping>
  	<servlet-name>DongiaSoluongServlet</servlet-name>
  	<url-pattern>/dongiasoluong</url-pattern>
  </servlet-mapping>  
</web-app>